{% extends 'base_inner.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
	<h1>Blog List</h1>
	<div style="display: flex; flex-wrap: wrap; gap:1em;">
		{% for post in posts %}
			<a style="display: flex; flex-direction: column; border: 1px solid rgb(152, 152, 152); padding: 1em;" href="{{ path('blog_show', {'slug': post.slug}) }}">
				<img src="{{post.picture}}" alt="{{post.title}}">
				<h2>{{ post.title }}</h2>
			</a>
		{% endfor %}
	</div>
{% endblock %}
