{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
        <h1>Blog Article</h1>
        <div>
        <img src="{{post.picture}}" alt="{{post.title}}">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        </div>
{% endblock %}
